{% set api_port = (rustfs_api_port | default(9000)) | int %}
{% set bind_address = (rustfs_bind_address | default('')) %}

RUSTFS_ACCESS_KEY={{ rustfs_root_user | default('rustfsadmin') }}
RUSTFS_SECRET_KEY={{ rustfs_root_password | default('rustfsadmin') }}


{% set disk_cnt = (rustfs_server_datadirs | default(['/app/disk1'])) | length %}
{% set total_nodes = (groups[rustfs_cluster_nodes_group | default('rustfs_nodes')] | default([])) | length %}
{% set old_nodes_cnt = (existing_nodes | default([])) | length %}

{% if disk_cnt > 1 %}
  {% set disk_path = "/app/disk{1..." ~ disk_cnt ~ "}" %}
{% else %}
  {% set disk_path = rustfs_server_datadirs[0] | default('/app/disk1') %}
{% endif %}

{% if rustfs_pools is defined and rustfs_pools %}
  {% set volume_patterns = [] %}
  {% for pool in rustfs_pools %}
    {% set _ = volume_patterns.append(pool.volumes) %}
  {% endfor %}
RUSTFS_VOLUMES="{{ volume_patterns | join(' ') }}"
{% elif existing_volumes_string is defined and existing_volumes_string | length > 0 %}
  {% set start_idx = old_nodes_cnt + 1 %}
  {% set end_idx = total_nodes %}
  {% if (end_idx - start_idx) > 0 %}
    {% set node_path = "http://node-{" ~ start_idx ~ "..." ~ end_idx ~ "}:" ~ api_port %}
  {% else %}
    {% set node_path = "http://node-" ~ start_idx ~ ":" ~ api_port %}
  {% endif %}
  {% set new_pool = node_path ~ disk_path %}
RUSTFS_VOLUMES="{{ existing_volumes_string }} {{ new_pool }}"
{% else %}
  {# --- ПЕРВИЧНАЯ УСТАНОВКА --- #}
  {% if total_nodes == 1 %}
    {% if disk_cnt == 1 %}
RUSTFS_VOLUMES="{{ rustfs_server_datadirs[0] }}"
    {% else %}
RUSTFS_VOLUMES="/app/disk{1...{{ disk_cnt }}}"
    {% endif %}
  {% else %}
RUSTFS_VOLUMES="http://node-{1...{{ total_nodes }}}:{{ api_port }}{{ disk_path }}"
  {% endif %}
{% endif %}

RUSTFS_ADDRESS="{{ bind_address }}:{{ api_port }}"

RUSTFS_CONSOLE_ENABLE={{ rustfs_console_enable | default(true) | lower }}
RUST_LOG={{ rustfs_log_level | default('error') }}
RUSTFS_OBS_LOG_DIRECTORY="{{ rustfs_log_dir | default('/var/log/rustfs') }}/"

{% if rustfs_unsafe_bypass_disk_check | default(false) | bool %}
RUSTFS_UNSAFE_BYPASS_DISK_CHECK=true
{% endif %}
